#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    album_art_position: Right,
    album_art_width_percent: 40,
    default_album_art_path: None,
    draw_borders: true,
    show_song_table_header: true,
    symbols: (song: "🎵", dir: "📁", marker: "📌"),
    progress_bar: (
        symbols: ["█", "\u{e0b0}", "█"],
        track_style: (fg:"#2b1c17",bg: None),
        elapsed_style: (fg: "#ffaedb", bg: None),
        thumb_style: (fg: "#ffaedb", bg: None),
    ),
    cava:(
        bar_symbol: "█",
        bg_color:None,
        bar_color: Single("#ffaedb"),
    ),
    scrollbar: (
        symbols: ["", "│", " ", " "],
        track_style: (fg: "#ffaedb"),
        ends_style: (),
        thumb_style: (fg: "#ffaedb"),
    ),
    browser_column_widths: [20, 38, 42],
    text_color: "#fab1d9",
    background_color: "#1e100b",
    header_background_color: None,
    modal_background_color: "#5a1144",
    tab_bar: (
        enabled: true,
        active_style: (fg: "#1e100b", bg: "#ffaedb", modifiers: "Bold"),
        inactive_style: (),
    ),
    borders_style: (fg: "#ffaedb"),
    highlighted_item_style: (fg: "#ffaedb", modifiers: "Bold"),
    current_item_style: (fg: "#ffaedb", bg: "#762a5c", modifiers: "Bold"),
    highlight_border_style: (fg: "#ffaedb"),
    song_table_format: [

        (

            prop: (kind: Property(Artist),

                default: (kind: Text("Unknown"))

            ),

            width: "20%",

        ),

        (

            prop: (kind: Property(Title),

                default: (kind: Text("Unknown"))

            ),

            width: "35%",

        ),

        (

            prop: (kind: Property(Album), 

                default: (kind: Text("Unknown Album"))

            ),

            width: "30%",

        ),

        (

            prop: (kind: Property(Duration),

                default: (kind: Text("-"))

            ),

            width: "15%",

            alignment: Right,

        ),

    ],
    layout: Split(

        direction: Vertical,

        panes: [

            (

                pane: Pane(Header),
                size: "3",

            ),


            (

                pane: Pane(TabContent),
                size: "100%",

            ),

            (

                pane: Pane(ProgressBar),
                size: "1",

            ),

        ],

    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#ffaedb", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "#ffaedb", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#ffaedb", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#ffaedb", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#ffaedb", modifiers: "Bold"))
                    ),
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "#ffaedb", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#ffaedb")),
                    (kind: Text("% "), style: (fg: "#ffaedb", modifiers: "Bold"))
                ]
            ),
            (
            left: [

                    (kind: Property(Status(Elapsed))),

                    (kind: Text(" / ")),

                    (kind: Property(Status(Duration))),

                    (kind: Text(" (")),

                    (kind: Property(Status(Bitrate))),

                    (kind: Text(" kbps)"))

                ],

                center: [

                    (kind: Property(Song(Artist)), style: (fg: "#ffaedb", modifiers: "Bold"),

                        default: (kind: Text("No song"), style: (fg: "#ffaedb", modifiers: "Bold"))

                    ),

                    (kind: Text(" - ")),

                    (kind: Property(Song(Album)),

                        default: (kind: Text("No song"))

                    )

                ],

                right: [

                    (

                        kind: Property(Widget(States(

                            active_style: (fg: "#f9dcd4", modifiers: "Bold"),


                            separator_style: (fg: "#f9dcd4")))

                        ),

                        style: (fg: "#fab1d9")

                    ),

                ]
            )
        ],
    ),
)
